ul.nav li a {
    color: #FFFFFF;
}

ul.nav li a:hover {
    color: #000;
}

.marketing {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: solid 1px #eee;
}

.thumbnail img {
    width: 100%;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}